body {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: darkblue;
    margin: 0;
    padding: 0;
}
#header h1 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#new-game-btn {
    height: 5vh;
    border-radius: 20px;
    font-size: 1em;
    background-color: orange;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 1px 5px 5px black;
}
#radio {
    height: 5vh;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: orange;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 1px 5px 5px black;

}
.rad-btn-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border: 1px solid black;
    margin-bottom: 30px;
}
#new-game-btn, 
#radio {
    width: 40%;
    max-width: 200px;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
    gap: 8px;
    border: 1px solid white;
}
.wrapper-container {
    width: 80%;
    padding-top: 80%;
    position: relative;
}
@media (min-width: 600px) {
    .wrapper-container {
        width: 60%;
        padding-top: 60%;
    }
}
@media (min-width: 600px) {
    #new-game-btn, #radio {
        width: 40vw; 
    }
}

.grid-item {
    background-color: white;
    border: 1px solid blue;
}

#form-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 20vh;
    border: 4px double black;
    border-radius: 20px;
    background-color: grey;
    text-align: left;
}

.get-player1-name,
.get-player2-name {
    display: block;
    margin: auto;
    margin-bottom: 3vh;
    width: 60%;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
    background-color: darkblue;
    border-radius: 20px;
}
.get-player1-name::placeholder,
.get-player2-name::placeholder {
    color: white;
}
.get-player1-name:focus,
.get-player2-name:focus {
    box-shadow: 4px 5px 5px black;
}

.confirm-name-btn {
    height: 4vh;
    width: 60%;
    background-color: orange;
    color: white;
    border-radius: 20px;
    margin-left: 15%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.confirm-name-btn:hover,
#new-game-btn:hover,
#radio:hover {
    filter: brightness(0.7);
}