body {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    align-items: center;
    background-color: darkblue;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#header h1 {
    font-size: 2em;
    color: white;    
    
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#new-game-btn {
    height: 5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 20px;
    font-size: 1.5em;
    background-color: orange;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 1px 5px 5px black;
}

#radio {
    height: 5vh;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1.4em;
    background-color: orange;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 1px 5px 5px black;

}
.rad-btn-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-bottom: 30px;
}
#new-game-btn, 
#radio {
    width: 40%;
    max-width: 200px;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
    gap: 8px;
}
.wrapper-container {
    width: 40%;
    padding-top: 40%;
    position: relative;
}
@media (min-width: 1px) {
    .wrapper-container {
        width: 55%;
        padding-top: 55%;
    }
    .player1 {
        top: 18em;
        left: 0px;
    }
    .player2 {
        top: 28em;
        right: 0px;
    }
    #new-game-btn, #radio {
        font-size: 1em;
    }
    .winner-text {
        font-size: 0.6em;
    }
}
@media (min-width: 300px) {
    .wrapper-container {
        width: 45%;
        padding-top: 45%;
    }
    .player1 {
        top: 20em;
        left: 30px;
    }
    .player2 {
        top: 20em;
        right: 30px;
    }
    #new-game-btn, #radio {
        font-size: 1.3em;
    }
    .winner-text {
        font-size: 0.6em;
    }
    .grid-item {
        font-size: 2em;
    }
    
}
@media (min-width: 600px) {
    .wrapper-container {
        width: 35%;
        padding-top: 35%;
    }
    #new-game-btn, #radio {
        width: 40vw; 
        font-size: 1.5em;
    }
    .player1 {
        left: 30px;
        top: 10em;
    }
    .player2 {
        right: 30px;
        top: 10em;
    }
    .winner-text {
        font-size: 1.1em;
    }
    .grid-item {
        font-size: 4em;
    }
}
@media (min-width: 900px) {
    .wrapper-container {
        width: 35%;
        padding-top: 35%;
    }
    .winner-text {
        font-size: 1.8em;
    }
    .grid-item {
        font-size: 5em;
    }
}
@media (min-width: 1600px) {
    .wrapper-container {
        max-width: 500px;
        max-height: 500px;
        padding-top: 25%;
    }
}


#form-container {
    display: flex;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 20em;
    height: 15em;
    border: 4px double black;
    border-radius: 20px;
    background-color: grey;
    text-align: left;
}
#form-container.active {
    opacity: 1;
    pointer-events: all;
}

.get-player1-name-input,
.get-player2-name-input {
    display: block;
    width: 15em;
    height: 2em;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
    background-color: darkblue;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.get-player1-name-input::placeholder,
.get-player2-name-input::placeholder {
    color: white;
}
.get-player1-name-input:focus,
.get-player2-name-input:focus {
    box-shadow: 4px 5px 5px black;
}

.confirm-name-btn {
    height: 4vh;
    width: 60%;
    margin-left: 10px;
    font-size: 1em;
    background-color: orange;
    color: white;
    border-radius: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.confirm-name-btn:hover,
#new-game-btn:hover,
#radio:hover {
    filter: brightness(0.7);
}

.player-score-container {
    display: flex;
    height: 10em;
    width: 5em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: absolute;
    margin-top: 3em;
    margin-right: 20px;
    margin-left: 20px;
}
.score {
    font-size: 4em;
    padding: 0;
    margin: 0;
}

.winner-banner {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 2em;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-size: 5em;
    height: 40vh;
    width: 100vw;
    color: white;
    background-image: linear-gradient(
        to bottom,
            orange, darkblue, orange, darkblue, orange);
    background-size: 100% 200%;
    animation: gradient-flow 3s infinite linear;
}
@keyframes gradient-flow {
    0% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
}

.winner-text {
    height: 1em;
    margin: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.reset {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 20px;
    border: 3px double blue;
    font-size: .3em;
    background-color: orange;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 1px 5px 5px black;
}
.reset:hover {
    filter: brightness(0.6)
}
#winner-banner.active,
.reset {
    opacity: 1;
    pointer-events: all;
}
.grid-item.inactive {
    color: white;
}
.grid-item {
    background-color: white;
    color: black;
    border: 1px solid blue;
    font-family: 'Permanant Marker', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.symbol {
    width: 60%;
    height: 60%;
    margin: auto;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
} 
@keyframes drawLine1 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes drawLine2 {
    to {
        stroke-dashoffset: 0;
    }
}
.handwritten-line1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawLine1 1s ease-in-out forwards;
}

.handwritten-line2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawLine2 1s ease-in-out 0.5s forwards; /* 1s delay */
}

.handwritten {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 1s ease-in-out forwards;
} 